<extend name="Base/base"/>
<block name="head"></block>
<block name="style">
    <style>
        .control-ul li{
            width: 32%;
            float: left;
            display: table;
            background: #fff;
            border-radius:5px;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
            padding:50px 0px;

        }
        .control-ul li:not(:first-child){
            margin-left: 2%;
        }
        .control-ul li{
            display: table-cell;
            vertical-align: middle;

        }
        .control-ul li img{
            width: 150px;
            height: 150px;
        }
        .control-ul li button:hover{
            background: #0099ff!important;
            color: #fff;
            
        }
    </style>

</block>
<block name="main">
    <a href="">刷新</a>
    <blockquote class="layui-elem-quote my-bg-white choose-wrap ">
        <div class="layui-form">
            <span class="my-margin-l5">船舶选择</span>
            <div class="layui-input-inline">
                <select name="shipId" lay-verify="required" id="shipSel">
                    <option value="0">--请选择船舶--</option>

                        <option value="{$vo.id}">船舶1</option>
                        <option value="{$vo.id}">船舶3</option>
                        <option value="{$vo.id}">船舶5</option>

                </select>

            </div>
        </div>

    </blockquote>
    <div class="control-wrap my-padding-10">
        <ul class="control-ul my-cf">
            <li>
                <div align="center">
                    <img src="__PUBLIC__/mylib/img/danger.png" alt="">
                    <div class="my-margin-t15 my-font-16 my-bolder">故障提醒</div>
                    <button class="my-margin-t15 layui-btn layui-btn-radius layui-btn-primary">已开启</button>
                </div>

            </li>
            <li>
                <div align="center">
                    <img src="__PUBLIC__/mylib/img/off1.png" alt="">
                    <div class="my-margin-t15 my-font-16 my-bolder">切断2#放电</div>
                    <button class="my-margin-t15 layui-btn layui-btn-radius layui-btn-primary">已开启</button>
                </div>

            </li>
            <li>
                <div align="center">
                    <img src="__PUBLIC__/mylib/img/off2.png" alt="">
                    <div class="my-margin-t15 my-font-16 my-bolder">切断2#放电</div>
                    <button class="my-margin-t15 layui-btn layui-btn-radius layui-btn-primary">已关闭</button>
                </div>

            </li>
        </ul>
    </div>
</block>
<block name="script">
    <script>
        layui.use(['form'], function () {
            var form = layui.form();
        });
        $(function () {
            $(' .control-ul li button').on('click', function () {
                if($(this).hasClass('my-bg-them')){
                    $(this).removeClass('my-bg-them my-cl-white').text('已关闭');
                }else{
                    $(this).addClass('my-bg-them my-cl-white').text('已开启');
                }
            })
        })
    </script>
</block>