<extend name="Base/base"/>
<block name="page-title">蓝色方程学习系统</block>
<block name="head">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/app/css/adminstyle.css" media="all">
</block>
<block name="main">
	<div class="layui-layout layui-layout-admin" id="layui_layout">
		<!-- 顶部区域 -->
		<div class=" header header-demo">
			<!-- logo区域 -->
			<div class="admin-logo-box">
				<span class="logo-td">
					<i class="iconfont icon-code my-font-25 "></i>
					<span class="logo-name my-margin-l10" title="logo">蓝色方程</span>
				</span>
			</div>
			<!--<div class="larry-side-menu">
				<i class="iconfont icon-3dot-v my-font-30" aria-hidden="true"></i>
			</div>-->
			<!-- 右侧导航 -->
			<span class="account">
					<img class="header-img my-valign-m" src="__PUBLIC__/app/img/head.png" alt="头像" >
					<span class="my-valign-m my-margin-l5">{$username}</span>
				</span>
			<div class="account-wrap">
				<span class="exit">
					<a href="{:U('Login/dologout')}" >
						<i class="iconfont icon-shutdown my-font-25 my-cl-them"></i>
					</a>
				</span>
			</div>
		</div>
		<!-- 左侧侧边导航开始 -->
		<div class="layui-side layui-side-bg layui-larry-side" id="larry-side">
			<div class="layui-side-scroll" id="larry-nav-side" lay-filter="side">
				<!-- 左侧菜单 -->
				<ul class="layui-nav layui-nav-tree">
					<!--<li class="layui-nav-item layui-this">
						<a href="javascript:;" data-url="main.html">
							<i class="iconfont icon-explore" ></i>
							<span>后台首页</span>
						</a>
					</li>-->
					<!-- 个人信息 -->
					<li class="layui-nav-item layui-nav-itemed ">
						<a href="javascript:;">
							<i class="iconfont icon-code-e" ></i>
							<span>我的课程</span>
							<em class="layui-nav-more"></em>
						</a>
						<dl class="layui-nav-child">
							<dd class="layui-this">
								<a href="javascript:;" data-url="{:U('myCourse')}">
									<i class="iconfont icon-php"></i>
									<span>PHP</span>
								</a>
							</dd>
						</dl>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;" data-url="">
									<i class="iconfont icon-h5"></i>
									<span>HTML</span>
								</a>
							</dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>

		<!-- 左侧侧边导航结束 -->
		<!-- 右侧主体内容 -->
		<div class="layui-body" id="larry-body" style="bottom: 0;border-left: solid 5px #0099ff;">
			<div class="layui-tab layui-tab-card larry-tab-box" id="larry-tab" lay-filter="demo" lay-allowclose="true">
				<ul class="layui-tab-title">
					<li class="layui-this" id="admin-home"><i class="iconfont icon-ship"></i><em>我的课程</em></li>
				</ul>
				<div class="layui-tab-content" style="min-height: 150px; ">
					<div class="layui-tab-item layui-show">
						<iframe class="larry-iframe" data-id='0' src="{:U('myCourse')}"></iframe>
					</div>
				</div>
			</div>


		</div>
		<!-- 底部区域 -->
		<div class="layui-footer layui-larry-foot" id="larry-footer">
			<div class="layui-mian">
				<div class="larry-footer-left my-bolder">
					蓝色方程学习系统&copy;2017
				</div>
			</div>
		</div>
	</div>
	<!-- 加载js文件-->
</block>
<block name="font-change"></block>
<block name="script">
	<script type="text/javascript" src="__PUBLIC__/app/js/larry.js"></script>
	<!--<script type="text/javascript" src="__PUBLIC__/app/js/index.js"></script>-->
</block>