<extend name="Base/base"/>
<block name="page-title">船舶控制</block>
<block name="head"></block>
<block name="style">
    <style>
        .control-ul li{
            width: 32%;
            float: left;
            display: table;
            background: #fff;
            border-radius:5px;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
            padding:50px 0px;

        }
        .control-ul li:not(:first-child){
            margin-left: 2%;
        }
        .control-ul li{
            display: table-cell;
            vertical-align: middle;

        }
        .control-ul li img{
            width: 150px;
            height: 150px;
        }
        .control-ul li button:hover{
            background: #0099ff!important;
            color: #fff;
        }
        #shipSel{
            width: 200px;
            font-size: 14px;
           height: 30px;

        }
    </style>

</block>
<block name="main">
    <blockquote class="layui-elem-quote my-bg-white choose-wrap my-margin-t10">
        <span class="my-margin-l5">船舶选择</span>
        <div class="layui-input-inline my-margin-l5">
            <select name="shipId"  id="shipSel">
                <volist name="shipList" id="vo">
                    <option value="{$vo.id}" <if condition="$vo['id'] eq $ship['id']">selected="selected"</if>>{$vo.name}</option>
                </volist>
            </select>
        </div>
        <a href="" class="my-margin-l20">
            <button class="layui-btn layui-btn-small   my-fr my-margin-l30 refresh-btn"><i class="iconfont icon-refresh my-margin-r5"></i>刷新</button>
        </a>
    </blockquote>
    <div class="control-wrap my-padding-10">
        <ul class="control-ul my-cf">
            <li>
                <div align="center">
                    <img src="__PUBLIC__/mylib/img/danger.png" alt="">
                    <div class="my-margin-t15 my-font-16 my-bolder">故障提醒</div>
                    <if condition="$btn[0] eq 1">
                        <button class="my-margin-t15 layui-btn layui-btn-radius layui-btn-primary my-bg-them my-cl-white" data-index="0">已开启</button>
                    <else/>
                        <button class="my-margin-t15 layui-btn layui-btn-radius layui-btn-primary" data-index="0">已关闭</button>
                    </if>
                </div>

            </li>
            <li>
                <div align="center">
                    <img src="__PUBLIC__/mylib/img/off1.png" alt="">
                    <div class="my-margin-t15 my-font-16 my-bolder">切断1#放电</div>
                    <if condition="$btn[1] eq 1">
                        <button class="my-margin-t15 layui-btn layui-btn-radius layui-btn-primary my-bg-them my-cl-white" data-index="1">已开启</button>
                        <else/>
                        <button class="my-margin-t15 layui-btn layui-btn-radius layui-btn-primary" data-index="1">已关闭</button>
                    </if>
                </div>

            </li>
            <!--<li>
                <div align="center">
                    <img src="__PUBLIC__/mylib/img/off2.png" alt="">
                    <div class="my-margin-t15 my-font-16 my-bolder">切断2#放电</div>
                    <button class="my-margin-t15 layui-btn layui-btn-radius layui-btn-primary">已关闭</button>
                </div>

            </li>-->
        </ul>
    </div>
</block>
<block name="script">
    <script>
        var shipId = "{$ship['id']}";
        layui.use(['form'], function () {
            var form = layui.form();
        });
        $(function () {
            $('#shipSel').change(function(){
                shipId = $('#shipSel option:selected').val();
                window.location.href="index.php?s=/Home/Index/shipControl/shipId/"+shipId;
            });
            $(' .control-ul li button').on('click', function () {
                var code;
                var index = $(this).data('index');
                if($(this).hasClass('my-bg-them')){
                    $(this).removeClass('my-bg-them my-cl-white').text('已关闭');
                    code = 0;
                }else{
                    $(this).addClass('my-bg-them my-cl-white').text('已开启');
                    code = 1;
                }
                $.post(
                        "{:U('ajax_shipControl')}",
                        {shipId:shipId,index:index,code:code},
                        function(data){

                        },
                        'json'
                );
            })
        })
    </script>
</block>